body {
	margin:0;
	padding:0;
	color: #000;
	background: #fff8e5;
	font-family: "Premiera", "Cambria", "Roboto Slab", "Georgia", "Times New Roman", serif;
	font-size: 100%;
	text-rendering: optimizeLegibility;
	-moz-font-feature-settings:"onum" 1;
	-ms-font-feature-settings:"onum" 1;
	-o-font-feature-settings:"onum" 1;
	-webkit-font-feature-settings:"onum" 1;
	font-feature-settings:"onum" 1;
}

#header {
	font-size: 1.25em;
	line-height: 1.1em;
	color: #fff;
	background-color: #222222;
	padding: 1.1em 1.1em 1.1em 1.1em;
	margin:0 0 0 0;
}

#supp {
	margin-left:60%;
    padding: 0 11.8%;
    padding-top: 1em;
    position: absolute;
	display:block;
}
#main {

	width:60%;
	float:left;
    padding: 1.1em 1.1em 2.2em 1.1em;
	margin:0 0 2.2em 0;
}

#auth {
    font-size: 0.75em;
}

#preorder_btn {
    background-color: #222222; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 8px;
  }

#preorder_btn:hover {
    background-color:#00ab00;
    transition: 0.7s;
}
/* electronut.in */

.pp-promo {
    border: 2px solid gray;
    padding: 10px;
    border-radius: 10px; 
  }
  
  .art-summary {
    padding: 10px;
    height: 150px;
  }
  
  .art-img {
    float: left;
    padding: 4px;
    text-align: center; 
    margin: 2px;
  }
  
  .art-txt {
    padding: 4px;
  }
  
  td.art-img-cell {
    width: 130px;
  }
  
  td.art-txt-cell {
    vertical-align: top;
  }
  
  .art-title {
    padding-top: 4px;
    padding-left: 10px;
    font: bold 14px Georgia, serif;
  }
  
  .art-desc {
    padding-top: 4px;
    padding-left: 10px;
  }
  
  .art-date {
    padding-top: 4px;
    padding-left: 10px;
    font: italic 14px Georgia, serif;
  }